$darkblue: #011627;
$pinkred: #FF3366;
$tiffanyblue: #2EC4B6;
$background: #F6F7F8;
$gray: #bebebe;
$californiablue: #20A4F3;
$popover-arrow-width: 0;

* {
  font-family: 'Open Sans', sans-serif;
}
.cantainer {
  display: flex;
}
.upper_nav {
  .logo {
    width: 150px;
}
  img {
    margin: 10px 15px;
}
}
#side_nav {

  flex: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 93vh;
  width: 100%;
  .menu {
    .menu_item {
      display: flex;
      color: $gray;
      justify-content: center;
      align-items: center;
      margin: 15px auto;
      flex-direction: column;
      padding-right: 15px;
      .icon {
        font-size: 35px;
      }
      .list_text{
        margin-top: -5px;
        font-size: 12px;
      }
      &:hover {
        border-right: 4px solid $californiablue;
        margin-right: -4px;
      }
    }
    :hover {
    color: $californiablue;
    }
  }
  .signout {
    color: #ffffff;
    padding: 10px 15px;
    background-color: $californiablue;
    text-decoration: none;
    a {
      margin: 0px;
    }
    i {
      margin-right: 5px;
    }
  }
}
#main {
  flex : 10;
}
#side_profile {
  flex: 2;
  background-color: green;
}
