/* Pulse  */
.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 190, 0, 1);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(0, 190, 0, 0);
    }
}
