@import 'searchform';

.welcome_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 15px auto;
  .greeting {
    h3 {
      font-size: 36px;
      font-weight: 600;
      margin: 30px auto;
      margin-bottom: 5px;
      span {
        color:#FF3366;
      }
    }
    p {
      color: #767676;
      margin-top: 0;
    }
  }
  .welcome_buttons {
    .button_big {
      text-decoration: none;
      font-size: 22px;
      padding: 10px 15px;
      color: #ffffff;
      i {
        margin-right: 10px;
      }
    }
    .pink {
      background-color: #20A4F3;
    }
    .gray {
      background-color: #FF3366;
    }
    .margin {
      margin-right: 30px;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  .card {
    height: 200px;
    border-radius: 0;
    padding: 10px;
  }
  .weather {
    width: 400px;
    background-color: #ffffff;
    background-size: cover;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 3px solid #2EC4B6;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;
      h2 {
        font-size: 70px;
        font-weight: 800;
        color: #2EC4B6;
      }
      p {
        font-size: 14px;
      }
      h6 {
        font-size: 18px;
      }
    }
    img {
      width: 200px;
      margin-left: 250px;
      margin-bottom: 150px;
      position: absolute;
    }

  }
}
