@import 'animation';
@import 'main';

$darkblue: #011627;
$pinkred: #FF3366;
$tiffanyblue: #2EC4B6;
$background: #F6F7F8;
$gray: #b1b0b0;
$lightgray: #ebebeb;
$californiablue: #20A4F3;
$popover-arrow-width: 0;

* {
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: $lightgray !important;
}
.cantainer {
  display: flex;
}
#side_nav {
  flex: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: white;
  border-radius: 0 15px 15px 0;
  .logo {
    width: 150px;
    margin: 25px 15px;
  }
  .menu {
    width: 100%;
    .menu_item {
      transition: 0.3s;
      display: flex;
      color: $gray;
      justify-content: center;
      align-items: center;
      margin: 15px auto;
      border-left: 2px solid transparent;

      .icon {
        font-size: 20px;
        margin-right: 15px;
        margin-left: 15px;
        flex: 1;
      }
      .list_text{
        font-size: 18px;
        flex: 4;
        text-align: left;
      }
      &:hover {
      border-left: 2px solid $pinkred;
      }
    }
    :hover {
    color: $pinkred;
    }
  }
  .signout {
    color: #ffffff;
    padding: 10px 15px;
    background-color: $californiablue;
    text-decoration: none;
    margin-bottom: 20px;
    a {
      margin: 0px;
    }
    i {
      margin-right: 5px;
    }
  }
}
#main {
  flex : 10;
}
#side_profile {
  flex: 2;
  .name_bar {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 0px;
    padding-right: 14px;
    border-radius: 15px;
    background-color: $pinkred;
    img {
      width: 50px;
      height: 50px;
      border-radius: 40%;
      margin: 10px;
      border: 3px solid $pinkred;
    }
    h5 {
      margin-top: 12px;
      font-weight: 600;
      margin-bottom: 0;
    }
    .name_info {
      .status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
      }
      .green {
          background-color: #ffffff;
        }
      .status_info {
        display: flex;
        align-items: center;

        p {
          color: #ffffff;
          margin: 0px;
        }

      }
    }
  }

}
