/* Pulse  */
.pulse {
  -webkit-animation: pulse-animation 2s infinite;
          animation: pulse-animation 2s infinite;
}

@-webkit-keyframes pulse-animation {
  0% {
    -webkit-box-shadow: 0 0 0 0px #00be00;
            box-shadow: 0 0 0 0px #00be00;
  }
  100% {
    -webkit-box-shadow: 0 0 0 5px rgba(0, 190, 0, 0);
            box-shadow: 0 0 0 5px rgba(0, 190, 0, 0);
  }
}

@keyframes pulse-animation {
  0% {
    -webkit-box-shadow: 0 0 0 0px #00be00;
            box-shadow: 0 0 0 0px #00be00;
  }
  100% {
    -webkit-box-shadow: 0 0 0 5px rgba(0, 190, 0, 0);
            box-shadow: 0 0 0 5px rgba(0, 190, 0, 0);
  }
}

.search-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  text-align: right;
}

.input-search {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border-style: none;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding-right: 40px;
  color: #20A4F3;
}

.input-search::-webkit-input-placeholder {
  color: #20A4F3;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search:-ms-input-placeholder {
  color: #20A4F3;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search::-ms-input-placeholder {
  color: #20A4F3;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-search::placeholder {
  color: #20A4F3;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #20A4F3;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #20A4F3;
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #20A4F3;
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.greeting {
  width: 90%;
  margin: 0 auto;
}

.greeting h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 30px auto;
  margin-bottom: 10px;
}

.greeting h3 span {
  color: #FF3366;
}

.greeting p {
  color: #767676;
  margin-top: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ebebeb !important;
}

.cantainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#side_nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: white;
}

#side_nav .logo {
  width: 150px;
  margin: 25px 15px;
}

#side_nav .menu {
  width: 100%;
}

#side_nav .menu .menu_item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b1b0b0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
  padding: 10px 0;
  border-right: 3px solid transparent;
}

#side_nav .menu .menu_item .icon {
  font-size: 20px;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#side_nav .menu .menu_item .list_text {
  font-size: 18px;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  text-align: left;
}

#side_nav .menu .menu_item:hover {
  border-right: 3px solid #FF3366;
  color: #FF3366;
}

#side_nav .menu .active {
  background-color: #FF3366;
  color: #F6F7F8;
}

#side_nav .menu .active:hover {
  color: #F6F7F8;
}

#side_nav .signout {
  color: #ffffff;
  padding: 10px 15px;
  background-color: #20A4F3;
  text-decoration: none;
  margin-bottom: 20px;
}

#side_nav .signout a {
  margin: 0px;
}

#side_nav .signout i {
  margin-right: 5px;
}

#main {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

#side_profile {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#side_profile .name_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px;
  padding-right: 14px;
  background-color: #ffffff;
  border-radius: 0;
  border-left: 3px solid #FF3366;
  margin: 30px auto;
}

#side_profile .name_bar img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin: 10px;
  margin-right: 20px;
}

#side_profile .name_bar h5 {
  margin-top: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

#side_profile .name_bar .name_info .status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

#side_profile .name_bar .name_info .green {
  background-color: #00be00;
}

#side_profile .name_bar .name_info .status_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
  padding-right: 15px;
  margin-left: -5px;
  margin-right: -15px;
  border-radius: 5px 0 0 5px;
}

#side_profile .name_bar .name_info .status_info p {
  color: #00be00;
  margin: 0px;
}
/*# sourceMappingURL=style.css.map */